* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top-header {
  font-size: 30px;
  background-color: #a3999965;
}

.message {
  font-size: 25px;
  border-bottom: 5px solid #1098ad;
}

h2 {
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

.University-College {
  font-size: 20px;
}

.New-College {
  font-size: 20px;
}

.Trinity-College {
  font-size: 20px;
}

#UC,
#TC,
#NC {
  margin: auto;
  display: block;
}

h3 {
  font-style: italic;
}

div {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

#a1 {
  border-top: 5px solid #1098ad;
}

aside {
  border-top: 5px solid #1098ad;
}
