* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.top-header {
  font-size: 30px;
  background-color: #a3999965;
}

.message {
  font-size: 25px;
}

h2 {
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

.University-College {
  font-size: 20px;
}

.New-College {
  font-size: 20px;
}

.Trinity-College {
  font-size: 20px;
}

#UC,
#TC,
#NC {
  margin: auto;
  display: block;
}

h3 {
  font-style: italic;
}

div {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

.topbarnav {
  background-color: #6b6a6a4c;
  overflow: hidden;
}

.topbarnav a {
  float: left;
  color: #1098ad;
  text-align: center;
  padding: 20px 16px;
  text-decoration: overline;
  font-size: 17px;
}

.topbarnav a:hover {
  background-color: #ddd;
  color: #1098ad;
}

.button {
  background-color: #4e8bc4;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}
